body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/testing.png');
  animation:90s scroll infinite linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.host-button {
  outline:none;
  border-radius: 50%;
  padding: 50px 50px;
  font-size: 70px;
  background: url("/button.png");
  background-position:center;
  font-family: "play", sans-serif;
  margin: 50px;
  height: 250px;
  width: 250px;
  text-align: center;
  color: white;
  border: 2px solid orange;
  box-shadow: 2px 2px 1px orange;
}
.host-button:hover {
  height: 300px;
  width: 300px;
  font-size: 90px;
  transition-duration: 0.4s;
}
.join-button:hover {
  height: 300px;
  width: 300px;
  font-size: 90px;
  transition-duration: 0.4s;
}
.join-button {
  background: url("/button.png");
  background-position:center;
  outline:none;
  border-radius: 50%;
  padding: 50px 50px;
  height: 250px;
  width: 250px;
  font-size: 70px;
  font-family: "play", sans-serif;
  background-color: #f44336;
  margin: 50px;
  text-align: center;
  color: white;
  border: 2px solid orange;
  box-shadow: 2px 2px 1px orange;
}

.enter-code-container {
  text-align: center;
  border: 13px solid green;
  margin: 10% 10% 10% 20%;
  padding: 10%;
  font-size: 300%;
}

.submit-button {
  width: 100%;
  background-color: #4CAF50;
  font-weight: 500;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.submit-button:hover {
  background-color: #45a049;
}

.input-field, select {
  width: 100%;
  padding: 14px 20px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.waitingplayers{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.waitingplayers>div {
  height: 500px;
  text-align: center;
  width: 1200px;
  letter-spacing: 4px;
  font-size: 30px;
  margin-top: 10%;
  font-weight: bold;
  overflow: hidden;
  background: linear-gradient(to left, #C7CEEA, #B5EAD7, #E2F0CB, #FFDAC1, #FFB7B2,#FF9AA2);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  background-color: #A9A9A9
}

.host-screen-container {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.game-code-heading {
  font-size: 50px;
  display: inline-block;
  font-weight: 500;
}

.game-code-number {
  font-size: 120px;
  font-weight: 500;
  display: inline-block;
}

.game-code-info-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

  @keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.host-screen-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.joined-players li {
  list-style-type: none;
  text-align: left;
}

.joined-players h1 {
  font-size: 38px;
}

.joined-players li {
  font-weight: 500;
  font-size: 25px;
}

#startbutton_flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
#hostorjoinquestion {
  font-family: "play", sans-serif;
  font-size: 25px;
  color: black;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.host-screen-start {
  display: inline-block;
}

.game-code {
  font-size: 300%;
  color: orangered;
  border-color: black;
  border: 2px;
}

.guessing-screen {
  margin: 0;
}
.guessing-screen-keskele {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guessing-screen h1 {
  font-size: 72px;
  font-family: "play", sans-serif;
  text-align:center;
}

.box.flex {
  display: flex;
  justify-content: center;
}

.box {
  padding: .5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.03);
  border-radius: 4px;

  color: #84613D;
  font-family: "play", sans-serif;
  background: #FDF9EA;
  border-bottom: 1px solid #F9F2D6;
  border-right: 1px solid #F9F2D6;
}

.box p {
  max-width: 125px;
  text-align: center;
  background: rgba(255,255,255,0.5);
  margin: .25rem;
  padding: .25rem;
}


@keyframes scroll{
  100%{
    background-position:0 -2724px;
  }
}

.container {
  overflow: hidden;
}

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  color: #000;
  height: 69px;
  width: 200px;
}

.button-text
{
  font-family: "play", sans-serif;
  font-size: 25px;
  text-decoration: none;
  text-align:center;
  vertical-align: middle;
  line-height: 69px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
}

.violet
{
  background-color: #ccccff;
  border-bottom: 5px solid #8484fc;
}

.red
{
  background-color: #ffcccc;
  border-bottom: 5px solid #fca0a0;
}

.green
{
  background-color: #ccffcc;
  border-bottom: 5px solid #95fc95;
}

.cyan
{
  background-color: #ccffff;
  border-bottom: 5px solid #7afcfc;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.scoreboard {
  font-size: 29px;
  font-weight: 500;
}

.scoreboard table {
  width: 100% ;
}

.score-number {
  text-align: right;
}

.host-drawing-screen {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.host-drawing-canvas-area {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.host-drawing-canvas {
  width: 600px;
  height: 600px;
  background-color: white;
}

.host-drawing-drawer {
  padding-top: 10px;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}
